services:
    db:
        image: postgres
        restart: always
        ports:
            - 15432:5432
        volumes:
            - ./dbs/postgres-data:/var/lib/postgresql/data
        env_file:
            - .env
