**/node_modules/

**/dist/
**/build/
**/*.tsbuildinfo

**/.env
**/.env.*.local

**/logs/
**/*.log
**/*.pid

**/coverage/
**/*.lcov

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.cache/